@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: figtree;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 99;
    height: 80px;
}

.navbar-brand img{
    margin-right: 10px;
}

.nav-link{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.nav-link:hover{
    color: greenyellow;
}

#offcanvasNavbar2{
    padding-right: 50px;
    max-width: fit-content;
    bottom: auto;
    border-radius: 5px 0px 5px 5px;
}

.offcanvas{
    background-color: rgba(0, 0, 0, 0.942) !important;
}

.btn-close{
    top: 15px;
    right: 15px;
    position: absolute;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -2;
}

.drop-shadow{
    height: 100vh;
    width: 100vw;
    background-color: #00000048;
    top: 0;
    position: fixed;
    z-index: -1;
}


#page1{
    height: 100vh;
    width: 100%;   
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    color: white;
}

#page1 h1{
    font-size: 3.5vw;
    font-weight: 900;
    position: relative;  
    font-style: oblique;  
}



#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}


#page1 button{
    font-weight: 600;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

#page1 button img{
    margin-right: 15px;
}

#page1 button:hover{
    transform: scale(1.1);
}

.btn-1{
    background-color: #56ff9a;
    border: none;
}

.btn-2{
    color: white;
    border: 2px solid #56ff9a;
    background-color: transparent;
}

.carousel-item{
    background-color: rgba(255, 255, 255, 0.197);
    filter: brightness(1.1) contrast(1);
}

.carousel-item img{
    width: 100%;
    height: auto;
    opacity: 85%;
    object-fit: contain;
}

.carousel-caption *{
    color: #ffdb99 !important;
}

#destination,#features{
    background-color: rgba(0, 0, 0, 0.745);
}

#destination *{
    color: #ffdb97;
}


.col.hover:hover {
    transform: scale(0.95);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease; /* Adjust the duration and easing as needed */
}

#features{
    margin-top: -17px;
    /* background-color: black; */
}

#features *{
    color: white;
}

.text-body-secondary{
    color: #ffdb97!important;
}

.col-md-5 img{
    height: 150px;
    float: left;
}

#footer{
    margin-top: -30px;
    background-color: #000c2397;
}


.text-white {
    color: white !important;
  }


  .text-white:hover {
    color: #ffdb97 !important;
  }